/* /Pages/SistemPolybius.razor.rz.scp.css */
.container-matrice[b-tew2aj3hrg] {
    width: 350px;
    height: 350px;
    background-color: black;
    padding-top: 500px;
}
body[b-tew2aj3hrg] {
    background-color:blue;
}
